* {
  box-sizing: border-box;
}

.header {
    overflow: hidden;
    background-color: #3c65b165;
    padding: 20px;
    text-align: center;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .hometitle{
      font-weight: bold;
      font-size: 3vh;
      color: #3C64B1;
  }

  .small_links {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

  .small_links:hover {
    color: white;
  }

  .links {
    text-decoration: none;
    font-size: 16px;
    color: #3C64B1;
  }

  .links:hover {
    color: white;
  }

  .button {
    background-color: #3C64B1;
    border-radius: 8px;
    text-align: center;
    transition-duration: 0.4s;
  }
  
  .button:hover,
  .button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }


  .text {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 400px) {
  .header a{
    float: none;
    width: 100%;
  }
} */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  